@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/* base style */

*{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1{
  color:#f1356d;
}

.navbar .links{
  margin-left: auto;

}

.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a :hover{
  color:#f1356d ;
}

.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.blog-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0, 0.1);
}

.blog-preview h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

.blog-details h2{
  margin: 20px 0;
}

.blog-details button{
  background-color: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create h2 {
  text-align: center;
  color: #f1356d;
  margin-bottom: 20px;
}

.create form {
  display: flex;
  flex-direction: column;
}

.create label {
  margin-bottom: 5px;
  color: #555;
}

.create input[type="text"],
.create textarea,
.create select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.create button {
  padding: 10px ;
  background-color: #f1356d;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create button:hover {
  background-color: #eb608a;
}

